@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

$prim: #7836af;
$sec: #3c7ead;
$grey: #bebebe;
$pad: 16px;
$rad: 16px;

/*********************
FLEX UTILITY
*********************/

@mixin flex($h, $v, $d, $t: center) {
  display: flex;
  justify-content: $h; // start, center, space-between, space-around, space-evenly
  align-items: $v; // stretch, center, start, end
  flex-direction: $d; //
  text-align: $t;
}

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}
