@import '_config';

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: $Navheight;
  padding: $pad;
  background-color: $prim;
  color: $sec;
  //   @include breakpoint(mobileonly) {
  //     background-color: $sec;
  // }
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Sidebar {
  width: 200px;
  background-color: $prim-L;
}

.appcont {
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 36, 0);
}

.maincont {
  padding-top: $Navheight;
  background-color: green;
  display: flex;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-family: Arial, sans-serif;
}

.Flex {
  display: flex;
  align-items: center;
  &-center {
    @extend .Flex;
    justify-content: center;
  }
  &-left {
    @extend .Flex;
    justify-content: left;
  }
}
